<h4>Agregar personajes</h4>
<form
 #formCreate="ngForm"
 (ngSubmit)="emitCharacter(formCreate)"
 name="formCreate"
 class="row">
  <input
  #name="ngModel" [(ngModel)]="character.name"
  required id="name" name="name" type="text" class="form-control mb-2" placeholder="name" required>
  <small *ngIf="!character.name && name.touched" class="invalid-feedback d-block">
     name no valido
  </small>

  <input #power="ngModel" [(ngModel)]="character.power" required id="power" name="power" class="form-control mb-2" type="number"  pattern="[0-9]+"  placeholder="power" autocomplete="off" required>
  <small *ngIf="!power.valid && power.touched" class="invalid-feedback d-block">
      Ingresa solo números
  </small>


  <button type="submit" class="btn btn-primary" [disabled]="formCreate.invalid">Ingresar <i class="fas fa-sign-in-alt"></i></button>




</form>

<pre>
  {{ character | json }}
</pre>
