
<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>


<div *ngIf="hero; else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6">

    <div class="text-center card-body-jav" >
      <mat-card-title class="text-blue-dark">{{ hero.alter_ego }}</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </div>


    <img class="img-detail-hero img-radius"  [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image  />

  </mat-card>

  <mat-card class="col-12 sm:col-6">

    <div class="text-center card-body-jav" >
      <mat-card-title class="text-blue-dark">Información</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </div>
    <br>

    <mat-card-content>
      <mat-list class="card-jav">
        <mat-list-item>{{ hero.first_appearance }}</mat-list-item>
        <mat-list-item>{{ hero.characters }}</mat-list-item>
        <mat-list-item>{{ hero.publisher }}</mat-list-item>
        <mat-list-item>{{ hero.alter_ego }}</mat-list-item>
      </mat-list>
      <br>
      <div class="text-center">
        <button class="btn-primary btn "

        color="warn"
        (click)="goBack()"
      >
        Regresar
      </button>
      </div>

    </mat-card-content>


  </mat-card>


</div>
